.navbar{
    background-color: gray;
    border: 1px solid black;
}

.collapse {
    text-align: center;
    background-color: white;
    width: 100%;
}

.wrapper {
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 50px;
}

.nav-link {
    border: .5px solid black;
    color: black !important;
}

h3{
    padding-top: 10px;
}

p {
    padding: 10px;
    text-align: justify;
}

.navbar-toggler, .navbar-toggler-icon {
    border-color: black;
    color: black;
}

#navbarNav {
    margin-top: 0;
}